// resets
*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body{
  background-color: #0e0e0e;
  min-height: 100vh;
  overflow-x: hidden;
}

body,html{
  scroll-behavior: smooth;
}

.league{
  padding: 7px 15px;
  color: #DE1A1A;
  background-color: #141414;
  font-size: 10px;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.scores-container{
  border: solid 1px #535353;
  background-color: #141414;
  padding: 12px;
  border-radius: 10px;
  @include flex(row, center, center, 1rem);
  width: 50vw;

  h4{
    color: #16C172;
    font-size: 20px;
    animation: pulse .7s ease infinite alternate;


    @keyframes pulse{
      0%{
        color: #f2f2f2;
      }

      100%{
        color: #16C172;
      }
    }
  }

  img{
    height: 50px;
    width: 50px;
  }

  h2{
    color: #F1D302;
    font-size: 1.75rem;
  }

  .home-team,.away-team{
    @include flex(row,center,center,1rem);
    width: 100%;

    h3{
      color: #f2f2f2;
      font-size: 1rem;
    }
  }
}

.player-stats{
  @include flex(column, center, center, .5em);
  text-align: center;

  p{
    font-size: 15px;
    color: #16C172;
  }

  h3{
    font-size: 1.75rem;
    color: #f2f2f2;
    padding: 12px 13px;
    background-color: #141414;

    span{
      color: #F1D302;
    }
  }
}

@media (max-width: 768px){
  .scores-container{
    width: 90vw;

    .home-team{
      justify-content: flex-start;
      flex-direction: column;
    }

    .away-team{
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    .home-team,.away-team{
      text-align: center;
      gap: 1em;

      h3{
        font-size: .75rem;
      }
    }
  }
}